<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>QUIZ MASTER</title>

    <!-- Styles -->
    <link href="/static/assets/css/core.min.css" rel="stylesheet">
    <link href="/static/assets/css/thesaas.css" rel="stylesheet">


    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" href="/assets/img/favicon.png">
  </head>

  <body>

    <!-- Header -->
    <header class="header header-inverse" style="background-color: #c2b2cd;">
      <div class="container text-center">

        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-2">

            <h1>Quiz Master</h1>


            </div>

          </div>
          <div class="container">
            <div class="flexbox flex-grow-all text-center mx-auto w-600">
              <div>
                <h2><span data-provide="counter" data-from="0" data-to={{{totalQuestionsAsked}}} data-speed={{{totalQuestionsAsked}}}></span></h2>
                <p>Questions Asked</p>
              </div>
              <div>
                <h2><span data-provide="counter" data-from="0" data-to={{{topRun}}} data-speed={{{topRun}}}></span></h2>
                <p>Top Run</p>
              </div>
              <div>
                <h2><span data-provide="counter" data-from="0" data-to={{{avgAttemp}}} data-speed={{{avgAttemp}}} ></span></h2>
                <p>Avg Attempts Per Q</p>
              </div>
            </div>
        </div>

      </div>
    </header>
    <!-- END Header -->




    <!-- Main container -->
    <main class="main-content">

      <section class="section">
        <div class="container">
          <header class="section-header">
            <h2>Current Session</h2>
            <small><strong id=category>{{{category}}}</strong></small>
            <small><strong id=difficulty>{{{difficulty}}}</strong></small>

            <hr>

            <p class="lead" id=question>{{{question}}}</p>




          </header>


        {{#each shuffledAnswers}}
          <div class="row gap-y">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="radio1" id={{answer}}>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{{question}}}</span>
            </label>
            <br>


            <br>
          </div>
        {{/each}}

            <br>
            <br>
            <button class="btn btn-outline btn-dark" type="button" id=submit>Go!</button>

            <div class="flexbox flex-grow-all text-center mx-auto w-600">
              <div>
                <h2><span data-provide="counter" data-from="0" data-to={{{totalQuestionsAsked}}} data-speed={{{totalQuestionsAsked}}}></span></h2>
                <p>Questions Asked</p>
              </div>
              <div>
                <h2><span data-provide="counter" data-from="0" data-to={{{topRun}}} data-speed={{{topRun}}}></span></h2>
                <p>Top Run</p>
              </div>
              <div>
                <h2><span data-provide="counter" data-from="0" data-to={{{avgAttemp}}} data-speed={{{avgAttemp}}} ></span></h2>
                <p>Avg Attempts Per Q</p>
              </div>
            </div>

        </div>




      </section>


      <script src="/static/assets/js/core.min.js"></script>
      <script src="/static/assets/js/thesaas.min.js"></script>
      <script src="/static/assets/js/script.js"></script>
      <script src="/static/client.js"></script>

    <!-- END Main container -->

  </body>
</html>
